### Regression model evaluation metrics

Covered in this notebook:
1) R^2 or coefficient of determination
2) Mean absolute error(MAE)
3) Mean squared error (MSE)

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_california_housing

In [3]:
housing = fetch_california_housing()

In [4]:
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [8]:
housing_df = pd.DataFrame(housing["data"], columns = housing["feature_names"])
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [9]:
housing_df["target"] = housing["target"]
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [ ]:
from sklearn.ensemble import RandomForestRegressor

X = housing_df.drop("target", axis = 1)
y = housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

Forest_model = RandomForestRegressor()

Forest_model.fit(X_train, y_train)

In [11]:
Forest_model.score(X_test, y_test)

0.8051379357794555

#### What R2 does is, it compares our models predictions to the mean of the targets. Values can range from negative infinity(A very poor model) to 1.

In [12]:
from sklearn.metrics import r2_score

y_test_mean = np.full(len(y_test), y_test.mean())
y_test_mean[:10]

array([2.0550031, 2.0550031, 2.0550031, 2.0550031, 2.0550031, 2.0550031,
       2.0550031, 2.0550031, 2.0550031, 2.0550031])

In [14]:
# if our model predicts just the mean, we will get an r2 score of zero
r2_score(y_true = y_test,
         y_pred = y_test_mean)

0.0

In [15]:
# if our model perfectly predicts the test data we will get an r2_score of one
r2_score(y_true = y_test,
         y_pred = y_test)

1.0

### Mean absolute Error (MAE)

MAE is the average of the absolute difference between predictions and actual values.
It gives us an idea of how wrong our models predictions are

In [18]:
from sklearn.metrics import mean_absolute_error

y_preds = Forest_model.predict(X_test)
mae = mean_absolute_error(y_test, y_preds)
mae

0.3275211717781009

#### So on average, each one of our prediction is 0.32 plus or minus the y_test value.
#### This is because the absolute in here gets rid of the negative sign.

In [19]:
df = pd.DataFrame(data = {"Actual_Value" : y_test,
                          "Predicted_Value" : y_preds})
df["Difference"] = df["Predicted_Value"] - df["Actual_Value"]
df.head(10)

       Actual_Value  Predicted_Value  Difference
20046       0.47700         0.494320    0.017320
3024        0.45800         0.742030    0.284030
15663       5.00001         4.895677   -0.104333
20484       2.18600         2.638180    0.452180
9814        2.78000         2.277230   -0.502770
13311       1.58700         1.658510    0.071510
7113        1.98200         2.295110    0.313110
7668        1.57500         1.659720    0.084720
18246       3.40000         2.595980   -0.804020
5723        4.46600         4.886708    0.420708

In [20]:
df["Difference"].mean()

0.012698090382751524

In [23]:
np.abs(df["Difference"]).mean()

0.3275211717781009

In [24]:
mae

0.3275211717781009

### Mean Squared Error (MSE)

MSE is the mean of the square of the errors between actual and predicted values.

In [25]:
from sklearn.metrics import mean_squared_error

y_pred = Forest_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mse

0.2553489984731563

In [26]:
df["squared_difference"] = np.square(df["Difference"])
df.head()

       Actual_Value  Predicted_Value  Difference  squared_difference
20046       0.47700         0.494320    0.017320            0.000300
3024        0.45800         0.742030    0.284030            0.080673
15663       5.00001         4.895677   -0.104333            0.010885
20484       2.18600         2.638180    0.452180            0.204467
9814        2.78000         2.277230   -0.502770            0.252778

In [28]:
squared = np.square(df["Difference"])
squared.mean()

0.2553489984731563